@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");

@keyframes load {
  0% {
    stroke-dashoffset: 639;
    stroke: #8b48cf;
  }

  100% {
    stroke: #ffffff;
  }
}

.progress {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;

  & > li {
    transition: 0.5s;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    margin: 1rem;

    &:before {
      content: attr(data-name);
      position: absolute;
      width: 100%;
      bottom: 0;
      font-weight: 600;
      color: #fdfdfe;
      text-shadow: 0px 0px 5px #7664db, 0px 0px 10px #8b48cf, 0px 0px 10px #b393d3, 0px 0px 20px #b393d3;
    }
    &:after {
      content: attr(data-percent);
      position: absolute;
      width: 100%;
      top: 3.7rem;
      left: 0;
      font-size: 2rem;
      text-align: center;
      font-weight: 600;
      color: #fdfdfe;
      text-shadow: 0px 0px 5px #7664db, 0px 0px 10px #8b48cf, 0px 0px 10px #b393d3, 0px 0px 20px #b393d3;
    }
    &:hover {
      transition: 0.5s;
      transform: scale(1.1);
      &:nth-child(n) path {
        stroke: #7664db;
        transition: 0.5s;
      }
    }
  }
  svg {
    width: 5rem;
    height: 6rem;
    &:nth-child(2) {
      position: absolute;
      left: 0;
      top: 0;
      transform: rotate(-90deg);
    }
    &:nth-child(2) path {
      fill: none;
      stroke-width: 25;
      stroke-dasharray: 639;
      stroke: #ffffff;
      opacity: 0.9;
      transition: 0.5s;
      animation: load 3.5s;
      animation-delay: 2.5s;
    }
  }
  & > li {
    margin: 1rem;
    &:before {
      margin-bottom: -2vh;
      font-size: 1rem;
    }
    &:after {
      margin-top: -3vh;
      font-size: 1.5rem;
    }
  }
}

.smallerSkillSet {
  display: flex;
  justify-content: center;
  margin-top: 3.2vh;
}

.smallerSkillSet > li {
  svg {
    width: 3.5rem;
    height: 3.5rem;
    &:nth-child(2) path {
      stroke-width: 12.5;
    }
  }
  &:before {
    bottom: -1.5rem;
    margin-bottom: -0.5vh;
  }
  &:after {
    top: 3rem;
    font-size: 1rem;
  }
}

@media all and (max-width: 1020px) {
  .progress {
    svg {
      width: 4rem;
      height: 7rem;
    }
    & > li {
      margin: 0.5rem;
      &:before {
        font-size: 0.8rem;
      }
      &:after {
        margin-top: -1.2vh;
        font-size: 1rem;
      }
    }
  }
  .smallerSkillSet > li {
    svg {
      width: 2.5rem;
      height: 3rem;
      &:nth-child(2) path {
        stroke-width: 12.5;
      }
    }
    &:before {
      bottom: -1.5rem;
    }
    &:after {
      top: 1.7rem;
      font-size: 0.7rem;
    }
  }
}

@media all and (max-width: 700px) {
  .progress {
    svg {
      width: 3rem;
      height: 6rem;
    }
    & > li {
      margin: 0.25rem;
      &:before {
        font-size: 0.7rem;
      }
      &:after {
        margin-top: -2.5vh;
        font-size: 0.8rem;
      }
    }
  }
  .smallerSkillSet > li {
    svg {
      width: 2.5rem;
      height: 3rem;
      &:nth-child(2) path {
        stroke-width: 12.5;
      }
    }
    &:before {
      bottom: -1.1rem;
    }
    &:after {
      top: 2.3rem;
      font-size: 1rem;
      font-size: 0.7rem;
    }
  }
}
@media all and (max-width: 500px) {
  .progress svg {
    width: 2.5rem;
    height: 6rem;
  }

  .progress > li {
    margin: 0.2rem;
  }

  .progress > li:before {
    font-size: 0.5rem;
    margin-bottom: 2vh;
  }

  .progress > li:after {
    font-size: 0.6rem;
  }

  .smallerSkillSet {
    margin-top: 2vh;
  }
  .smallerSkillSet > li svg {
    width: 1.8rem;
    height: 1.9rem;
  }

  .smallerSkillSet > li:before {
    bottom: -1.7rem;
  }

  .smallerSkillSet > li:after {
    top: 1.7rem;
    font-size: 0.5rem;
  }
}
