.projects {
  a {
    cursor: pointer;
    background-image: linear-gradient(
      to bottom,
      rgba(204, 67, 193, 1) 0%,
      rgba(154, 67, 204, 0.8) 50%,
      rgba(149, 69, 181, 0.6) 100%
    );
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 0.9vw;
    font-weight: 600;
    height: 5.5vh;
    padding: 0 1.6vw;
    margin-right: 0.4vw;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  a:hover {
    box-shadow: rgb(255, 254, 254) 0 0.1vh 4vw;
    transition-duration: 0.5s;
  }

  .project1,
  .project2,
  .project3,
  .project4 {
    position: fixed;
    border-radius: 50%;
    height: 15vh;
    width: 7vw;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project1 {
    background-color: rgb(255, 255, 252);
    left: 30.5vw;
    top: 25vh;
  }

  .project2 {
    background-color: rgb(21, 197, 250);
    right: 30vw;
    top: 25vh;
  }

  .project3 {
    background-color: rgb(0, 255, 157);
    top: 4vh;
    right: 40vw;
  }

  .project4 {
    background-color: rgb(184, 245, 105);
    top: 4.5vh;
    left: 40vw;
  }
}



@media all and (max-width: 1400px) {
  .projects {
    .project1,
    .project2,
    .project3,
    .project4 {
      height: 12vh;
      width: 8vw;
    }
    .project1 {
      left: 26.5vw;
      top: 25vh;
    }

    .project2 {
      right: 26.5vw;
      top: 25vh;
    }

    .project3 {
      top: 9vh;
      right: 37vw;
    }

    .project4 {
      top: 9.2vh;
      left: 37vw;
    }
  }
}

@media all and (max-width: 1100px) {
  .projects {
    .project1,
    .project2,
    .project3,
    .project4 {
      font-size: 1.2vw;
      height: 12vh;
      width: 11vw;
    }
    .project1 {
      left: 18vw;
      top: 25vh;
    }

    .project2 {
      right: 18vw;
      top: 25vh;
    }

    .project3 {
      top: 9vh;
      right: 35vw;
    }

    .project4 {
      top: 9.2vh;
      left: 35vw;
    }
  }
}

@media all and (max-width: 850px) {
  .projects {
    .project1,
    .project2,
    .project3,
    .project4 {
      font-size: 1.4vw;
      height: 11vh;
      width: 14vw;
    }
    .project1 {
      left: 7vw;
      top: 25vh;
    }

    .project2 {
      right: 6.7vw;
      top: 25vh;
    }

    .project3 {
      top: 9vh;
      right: 32vw;
    }

    .project4 {
      top: 9.2vh;
      left: 32vw;
    }
  }
}

@media all and (max-width: 550px) {
  .projects {
    .project1,
    .project2,
    .project3,
    .project4 {
      font-size: 1.9vw;
      height: 10vh;
      width: 16vw;
    }
    .project1 {
      left: 9vw;
      top: 19vh;
    }

    .project2 {
      right: 9vw;
      top: 19vh;
    }

    .project3 {
      top: 11vh;
      right: 32vw;
    }

    .project4 {
      top: 11.2vh;
      left: 32vw;
    }
  }
}
