.projects {
  a {
    cursor: pointer;
    background-image: linear-gradient(
      to bottom,
      rgba(204, 67, 193, 1) 0%,
      rgba(154, 67, 204, 0.8) 50%,
      rgba(149, 69, 181, 0.6) 100%
    );
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 0.9vw;
    font-weight: 600;
    height: 5.5vh;
    padding: 0 1.6vw;
    margin-right: 0.4vw;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  a:hover {
    box-shadow: rgb(255, 254, 254) 0 0.1vh 4vw;
    transition-duration: 0.5s;
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
  }

  .project1,
  .project2,
  .project3,
  .project4 {
    position: fixed;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project1 {
    background-color: rgb(255, 255, 252);
    left: 28.5vw;
    top: 25vh;
  }

  .project2 {
    background-color: rgb(21, 197, 250);
    right: 28vw;
    top: 25vh;
  }

  .project3 {
    background-color: rgb(0, 255, 157);
    top: 4vh;
    right: 40vw;
  }

  .project4 {
    background-color: rgb(184, 245, 105);
    top: 4.5vh;
    left: 40vw;
  }
}

@media all and (max-width: 1500px) {
  .projects {
    .project1,
    .project2,
    .project3,
    .project4 {
      font-size: 1.2vw;
    }
    .project1 {
      left: 26.5vw;
      top: 25vh;
    }

    .project2 {
      right: 26.5vw;
      top: 25vh;
    }

    .project3 {
      top: 9vh;
      right: 37vw;
    }

    .project4 {
      top: 9.2vh;
      left: 37vw;
    }
  }
}

@media all and (max-width: 1300px) {
  .projects {
    .project1,
    .project2,
    .project3,
    .project4 {
      font-size: 1.2vw;
    }
    .project1 {
      left: 18vw;
      top: 25vh;
    }

    .project2 {
      right: 18vw;
      top: 25vh;
    }

    .project3 {
      top: 9vh;
      right: 35vw;
    }

    .project4 {
      top: 9.2vh;
      left: 35vw;
    }
  }
}

@media all and (max-width: 1100px) {
  .projects {
    .project1,
    .project2,
    .project3,
    .project4 {
      font-size: 1.4vw;
    }
    .project1 {
      left: 13vw;
      top: 25vh;
    }

    .project2 {
      right: 13vw;
      top: 25vh;
    }

    .project3 {
      top: 6vh;
      right: 32vw;
    }

    .project4 {
      top: 6.2vh;
      left: 32vw;
    }
  }
}
@media all and (max-width: 850px) {
  .projects {
    .project1,
    .project2,
    .project3,
    .project4 {
      font-size: 1.7vw;
      height: 120px;
      width: 120px;
    }
    .project1 {
      left: 13vw;
      top: 20vh;
    }

    .project2 {
      right: 13vw;
      top: 20vh;
    }

    .project3 {
      top: 9vh;
      right: 32vw;
    }

    .project4 {
      top: 9.2vh;
      left: 32vw;
    }
  }
}

@media all and (max-width: 700px) {
  .projects {
    .project1,
    .project2,
    .project3,
    .project4 {
      font-size: 1.9vw;
      height: 100px;
      width: 100px;
    }
    .project1 {
      left: 11vw;
      top: 19vh;
    }

    .project2 {
      right: 11vw;
      top: 19vh;
    }

    .project3 {
      right: 30vw;
      top: 10vh;
    }

    .project4 {
      left: 30vw;
      top: 10.2vh;
    }
  }
}

@media all and (max-width: 550px) {
  .projects {
    .project1,
    .project2,
    .project3,
    .project4 {
      font-size: 1.9vw;
      height: 80px;
      width: 80px;
    }
    .project1 {
      left: 15vw;
      top: 15vh;
    }

    .project2 {
      right: 15vw;
      top: 15vh;
    }

    .project3 {
      right: 33vw;
      top: 10vh;
    }

    .project4 {
      left: 33vw;
      top: 10.2vh;
    }
  }
}
@media all and (max-width: 450px) {
  .projects {
    .project1,
    .project2,
    .project3,
    .project4 {
      font-size: 1.9vw;
      height: 65px;
      width: 65px;
    }
    .project1 {
      left: 15vw;
      top: 17vh;
    }

    .project2 {
      right: 15vw;
      top: 17vh;
    }

    .project3 {
      right: 33vw;
      top: 13vh;
    }

    .project4 {
      left: 33vw;
      top: 13.2vh;
    }
  }
}
