@import "../../scssUtils/fadeInAnimation.scss";

$background-image: url("../../assets/imgs/wallpaperflare.com_wallpaper\ \(1\).jpg");
$main-color: #fdfdfe;
$secondary-color: #f1f1f1;
$hover-color: #895eec;
$shadow-color-1: #7664db;
$shadow-color-2: #8b48cf;
$shadow-color-3: #b393d3;
$shadow-color-4: #5c5af7;
$shadow-color-5: #5052ee;
$shadow-color-6: #477beb;
$title-font-size: 6vw;
$text-font-size: 1.5vw;
$icon-font-size: 4vw;
$line-height: 1.5;
$fade-in-duration-1: 1.5s;
$fade-in-duration-2: 4s;
$fade-in-duration-3: 6s;

@mixin responsive($max-width, $margin-top, $title-font-size, $text-font-size, $icon-font-size) {
  @media all and (max-width: $max-width) {
    .contactContainer {
      .contactWrapper {
        margin-top: $margin-top;

        .contactTitle {
          h1 {
            font-size: $title-font-size;
          }
          p {
            margin-top: 1vh;
            font-size: $text-font-size;
            max-width: 70vw;
          }
        }

        .contactIcons {
          a {
            font-size: $icon-font-size;
          }
        }
      }
    }
  }
}

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: $background-image;
  background-size: cover;
  background-position: center;
  height: 100vh;

  .contactWrapper {
    margin-top: 55vh;

    .contactTitle {
      text-align: center;
      animation: fadeIn $fade-in-duration-1 ease;

      h1 {
        font-size: $title-font-size;
        font-weight: 600;
        color: $main-color;
        text-shadow: 0px 0px 5px $shadow-color-1, 0px 0px 10px $shadow-color-2, 0px 0px 10px $shadow-color-3,
          0px 0px 20px $shadow-color-3;
      }

      p {
        font-size: $text-font-size;
        font-weight: 600;
        color: $secondary-color;
        text-shadow: 0px 0px 5px $shadow-color-4, 0px 0px 10px $shadow-color-5, 0px 0px 10px $shadow-color-6,
          0px 0px 20px $shadow-color-3;
        animation: fadeIn $fade-in-duration-2 ease;
      }
    }

    .contactIcons {
      display: flex;
      justify-content: center;
      margin-top: 1.5vh;
      animation: fadeIn $fade-in-duration-3 ease;

      a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        margin-bottom: 1vw;
        color: #fff;
        font-size: $icon-font-size;
        transition: color 0.3s ease, transform 0.3s ease;
        margin: 0 1vw;

        &:hover {
          color: $hover-color;
          transform: scale(1.5);
        }
      }
    }
  }
}

@include responsive(1200px, 53vh, 5vw, 2vw, 6vw);
@include responsive(1000px, 52vh, 5vw, 2.5vw, 6vw);
@include responsive(700px, 47vh, 9vw, 2.5vw, 6vw);
@include responsive(500px, 40vh, 9vw, 2.5vw, 6vw);
