.homeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  .homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30vh;
  }

  .homeTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;

    h1 {
      font-size: 11vh;
      font-weight: 600;
      color: #fdfdfe;
      text-shadow: 0px 0px 5px #7664db, 0px 0px 10px #8b48cf, 0px 0px 10px #b393d3, 0px 0px 20px #b393d3;
    }

    p {
      font-size: 3vh;
      font-weight: 600;
      color: #f1f1f1;
      text-shadow: 0px 0px 5px #5c5af7, 0px 0px 10px #5052ee, 0px 0px 10px #477beb, 0px 0px 20px #b393d3;
    }
  }

  .homeProjAndResume {
    margin-top: 2vh;
    button {
      cursor: pointer;
      background-image: linear-gradient(92.88deg, #5643cc 9.16%, #5643cc 43.89%, #455eb5 64.72%);
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: #ffffff;
      font-size: 0.8vw;
      font-weight: 600;
      height: 5.5vh;
      padding: 0 1.6rem;
      text-shadow: rgba(0, 0, 0, 0.25) 0 12px 8px;
      transition: 0.8s;
      margin-right: 0.4vw;
    }

    button:hover {
      box-shadow: rgb(137, 86, 255) 0 1px 30px;
      transition-duration: 0.5s;
    }
  }
}
