.arrowContainer {
  position: fixed;
  right: 1vw;
  margin-top: 45vh;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.arrowIcon {
  font-size: 7vh;
  color: #c0b6ff;
}
