.navWrapper {
  display: flex;
  flex-direction: column;
  width: 4vw;
  gap: 1vh;
  height: 100%;
  background-color: #0f0f0f;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  padding: 1.5vw;
  transition: width 0.3s;

  .navHeader {
    color: #fff;
    margin-bottom: 3vh;

    img {
      transition: 0.3s;
      width: 2vw;
    }
    p {
      font-size: 1vw;
      margin-left: 0.3vw;
      transition: 0.3s;
    }
  }
  .navMenu {
    margin-top: 5vw;

    .navMainMenu {
      display: flex;
      flex-direction: column;
      gap: 2vh;
      text-align: left;
      * {
        text-align: left;
      }
    }

    span {
      display: none;
      transition: 0.3s;
    }

    .navSocialMedia {
      margin-top: 17vw;
      a {
        font-size: 1vw;
      }
      a:hover {
        color: #895eec;
        font-size: 1.4vw;
      }
    }
  }
}

.navWrapper:hover {
  width: 8.5vw;
  transition: 0.3s;
  span {
    transition: 0.3s;
    display: block;
    font-size: 1vw;
    margin-left: 0.4vw;
  }
  img {
    width: 4vw;
    margin-left: 1vw;
    transition: 0.3s;
  }
  p {
    font-size: 1.5vw;
    margin-left: 1.5vw;
    transition: 0.3s;
  }
  .navSocialMedia {
    margin-top: 13vw;
    transition: 0.3s;
  }
}

a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  margin-bottom: 1vw;
  color: #fff;
  font-size: 0.9vw;
  transition: 0.3s;
  font-size: 1.5vw;
}

a:hover {
  color: #895eec;
  font-size: 2vw;
}
