.navWrapper {
  display: flex;
  flex-direction: column;
  width: 4vw;
  gap: 1vh;
  height: 100%;
  background-color: #0f0f0f;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  padding: 1.5vw;
  transition: width 0.3s;

  .navHeader {
    color: #fff;
    margin-bottom: 3vh;

    img {
      transition: 0.3s;
      width: 1.8vw;
      border-radius: 10px;
      margin-left: -0.3vw;
    }
  }
  .navMenu {
    margin-top: 5vw;
    margin-left: -0.3vw;

    .navMainMenu {
      display: flex;
      flex-direction: column;
      gap: 2vh;
      text-align: left;
      * {
        text-align: left;
      }
    }

    span {
      display: none;
      transition: 0.3s;
    }

    .navSocialMedia {
      display: flex;
      flex-direction: column;
      margin-top: 19vw;
      transition: 0.3s;
      a {
        font-size: 1vw;
      }
      a:hover {
        color: #895eec;
        font-size: 1.4vw;
      }
    }
  }
}

.navWrapper:hover {
  width: 8.5vw;
  transition: 0.3s;
  span {
    transition: 0.3s;
    display: block;
    font-size: 1vw;
    margin-left: 0.4vw;
  }
  img {
    width: 4vw;
    margin-left: 1vw;
    transition: 0.3s;
  }
  p {
    font-size: 1.5vw;
    margin-left: 1.5vw;
    transition: 0.3s;
  }
  .navSocialMedia {
    margin-top: 13vw;
    transition: 0.3s;
  }
}

a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  margin-bottom: 1vw;
  color: #fff;
  font-size: 0.9vw;
  transition: 0.3s;
  font-size: 1.5vw;
}

a:hover {
  color: #895eec;
  font-size: 2vw;
}

@media screen and (max-width: 1200px) {
  .navWrapper {
    width: 6vw;
    .navHeader {
      img {
        width: 3vw;
        margin-left: 0.3vw;
      }
    }
    .navMenu {
      margin-left: 0.5vw;
      .navMainMenu {
        margin-top: 7vh;
        gap: 3vh;
      }

      .navSocialMedia {
        gap: 3vh;

        a {
          font-size: 2vw;
        }

        a:hover {
          font-size: 2.5vw;
        }
        margin-top: 22vw;
        transition: 0.3s;
      }
    }
  }

  .navWrapper:hover {
    width: 10.8vw;
    span {
      font-size: 1.3vw;
    }
    .navHeader {
      img {
        width: 5vw;
        margin-left: 1.3vw;
      }
    }
  }

  a {
    font-size: 2vw;
  }

  a:hover {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 900px) {
  .navWrapper {
    width: 8vw;
    .navHeader {
      img {
        width: 4vw;
        margin-left: 1vw;
      }
    }
    .navMenu {
      margin-left: 0.7vw;
      .navMainMenu {
        margin-top: 10vh;
        gap: 4vh;
      }

      .navSocialMedia {
        gap: 4vh;

        a {
          font-size: 3vw;
        }

        a:hover {
          font-size: 3.5vw;
        }
        margin-top: 22vw;
        transition: 0.3s;
      }
    }
  }

  .navWrapper:hover {
    width: 12vw;
    .navHeader {
      img {
        width: 6vw;
        margin-left: 2vw;
      }
    }
  }

  a {
    font-size: 3vw;
  }

  a:hover {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 500px) {
  .navWrapper {
    width: 9vw;
    .navHeader {
      img {
        width: 5vw;
      }
    }
    .navMenu {
      margin-left: 1vw;
      .navMainMenu {
        margin-top: 14vh;
        gap: 5vh;
      }

      .navSocialMedia {
        gap: 5vh;

        a {
          font-size: 4vw;
        }

        a:hover {
          font-size: 4.5vw;
        }
        margin-top: 22vw;
        transition: 0.3s;
      }
    }
  }

  .navWrapper:hover {
    width: 14.5vw;
    span {
      font-size: 1.5vw;
      margin-left: 0.7vw;
    }
    .navHeader {
      img {
        width: 7vw;
        margin-left: 2vw;
      }
    }
  }

  a {
    font-size: 4vw;
  }

  a:hover {
    font-size: 4.5vw;
  }
}
