.fadeEnter {
  opacity: 0;
  transform: translate(0, 0px);
  z-index: 1;
}
.fadeEnterActive {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 250ms ease-in-out, transform 400ms ease-in-out;
}
.fadeExit {
  opacity: 1;
  transform: translate(0, 0);
}
.fadeExitActive {
  opacity: 0;
  transform: translate(0, 0);
  transition: opacity 250ms ease-in-out, transform 400ms ease-in-out;
}
